appnope==0.1.4
asttokens==3.0.0
backcall==0.2.0
build==1.2.2.post1
CacheControl==0.14.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cleo==2.1.0
-e git+https://github.com/LilaShiba/python_packages.git@96f4e0693009635d994b2b1dd158969843b0f6d8#egg=cli_tools
comm==0.2.2
contourpy==1.1.1
crashtest==0.4.1
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
distlib==0.3.9
dulwich==0.21.7
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.16.1
fonttools==4.57.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
installer==0.7.0
ipykernel==6.29.5
ipython==8.12.3
jaraco.classes==3.4.0
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.7.2
keyring==24.3.1
kiwisolver==1.4.7
matplotlib==3.7.5
matplotlib-inline==0.1.7
more-itertools==10.5.0
msgpack==1.1.0
nest-asyncio==1.6.0
numpy==1.24.4
packaging==25.0
pandas==2.0.3
parso==0.8.4
pathlib==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pkginfo==1.12.1.2
platformdirs==4.3.6
poetry==1.8.5
poetry-core==1.9.1
poetry-plugin-export==1.8.0
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
Pygments==2.19.1
pyparsing==3.1.4
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.2
pyzmq==26.4.0
rapidfuzz==3.9.7
requests==2.32.3
requests-toolbelt==1.0.0
shellingham==1.5.4
six==1.17.0
stack-data==0.6.3
tomli==2.2.1
tomlkit==0.13.2
tornado==6.4.2
traitlets==5.14.3
trove-classifiers==2025.5.9.12
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
virtualenv==20.31.2
wcwidth==0.2.13
xattr==1.1.4
zipp==3.20.2
